* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@import "../scss/header";

@import "../scss/intro";

@import "../scss/merch";

@import "../scss/content";

@import "../scss/feature";

@import "../scss/subscribe";

@import "../scss/footer";

@import "../scss/arrival";

@import "../scss/filter";

@import "../scss/page-list";

@import "../scss/women";

@import "../scss/cart";

@import "../scss/registration";

@import "../scss/mediaCart";

@import "../scss/mediaRegistration";

@import "../scss/mediaIndex";

/*===========Catalog=============*/

@media (max-width: 768px) {
    .arrival__box h3 {
        margin-left: 16px;
    }

    .breadcrumb {
        margin-right: 16px;
    }

    .content {
        margin-top: 24px;
    
        .content__filter {
            display: flex;
            justify-content: space-between;
        }

        .content__menu {
            margin-right: 16px;

            &-text {
                margin-right: 12px;
            }
        }

        .size {
            margin-right: 12px;
        }

        .content__box {
            margin-top: 40px;
            display: flex;
            justify-content: center;
        }

        .content__item:nth-child(9) {
            display: none;
        }
    }
}

@media (max-width: 375px) {
    .arrival__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & h3 {
            margin-top: 24px;
        }

        .breadcrumb {
            margin: 32px 0 0 0;
        }
    }

    .filter__label {
        span {
            display: none;
        }

        svg {
            width: 37px;
            height: 25px;
        }
    }

    .content__menu-text span {
        font-size: 12px;
        line-height: 14px;
    }

    .size label span {
        font-size: 12px;
        line-height: 14px;
    }
}

/*===========Product=============*/

@media (max-width: 768px) {
    .women__top{
        min-height: 624px;
        background-size: 60%;
    }

    .women__bot {
        margin-top: 0;
    }

    .product-content {
        margin-bottom: 129px;
    }

    .product-cart {
        order: 2;
    }

    .cart-three {
        display: none;
    }
}

@media (max-width: 375px) {
    .women__top {
        background-size: 100%;
    }

    .women__description p {
        margin-top: 32px;
        max-width: 326px;
        width: 100%;
        line-height: 20px;
    }

    .women-select {
        justify-content: space-around;
    
        &__box span {
            font-size: 10px;
            line-height: 12px;
        }
    }

    .women__bot {
        margin-bottom: 24px;
    
        & button {
            margin-top: 65px;
        }
    }

    .product-content {
        margin-bottom: 64px;
    }

    .cart-three {
        display: block;
        order: 2;
    }

    .cart-two {
        display: none;
    }
}

/*===========Cart=============*/

