.header {
    background: #222;
    position: relative;

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 18px 0 16px 0;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    .link__logo {
        margin-right: 41px;

        & img {            
            width: 44px;
            height: 38px;            
        }
    }
}

#switch {
    border: none;
    outline: none;
    background: transparent;
    width: 0;
    height: 0;
    transition: .5s;
    margin-left: 12px;
}

.header__search {
    display: flex;
    align-items: center;

    & label {
        display: block;
        width: 26px;
        height: 27px;
        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

#switch:focus {
    border-bottom: 2px solid #E8E8E8;;
    width: 160px;
    height: 20px;
    color: #E8E8E8;;
    padding-left: 12px;
}

.header__right {
    display: flex;
    align-items: center;
}

#menu {
    display: none;
}

.menu label {
    display: flex;
    width: 32px;
    height: 23px;
    position: relative;

    &:hover span,
    &:hover span::before,
    &:hover span::after {
        background: #F1A9B3;
    }

    &:hover & span {
        background: #F16D7F;
    }

    & span {
        display: block;
        width: 100%;
        height: 3px;
        background: #E8E8E8;
        margin: auto 0;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 3px;
            background: #E8E8E8;
            left: 0;
            position: absolute;
        }

        &::before {
            top: -11px;
        }

        &::after {
            top: 11px;
        }
    }
}

.regist__link {
    margin-left: 25px;
    width: 29px;
    height: 29px;

    & svg {
        fill: #E8E8E8;

        &:hover {
            fill: #F1A9B3;
        }
    }
}

.cart__btn {
    margin-right: 16px;
    margin-left: 32px;
    border: none;
    background: transparent;
    width: 32px;
    height: 29px;
    position: relative;
    cursor: pointer;

    &:hover svg {
        fill: #F1A9B3;
    }

    & svg {
        fill: #E8E8E8;
    }

    & > span {
        padding: 2px 7px;
        width: 7px;
        height: 14px;
        color: #fff;
        background: #F16D7F;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -11px;
    }
}

.basket {
    position: absolute;
    z-index: 3;
    top: 44px;
    right: 12px;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;

    &__row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
    }

    &__total {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 16px;
    }

    &__cart-item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin: 8px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        align-items: center;

        &:last-child {
            margin-bottom: 30px;
        }

        & button {
            width: 24px;
            height: 24px;
            cursor: pointer;
            border: 1px solid #F16D7F;
            color: #F16D7F;
            border-radius: 6px;
            background: #fff;
            justify-self: center;
            transition: .7s;

            &:hover {
                background: #F16D7F;
                color: #fff;
            }
        }
    }
}

.cart__order-link {
    text-decoration: none;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    padding: 8px 22px;
    border-radius: 6px;
    transition: .7s;

    &:hover {
        background: #F16D7F;
        color: #fff;
    }
}

.hidden {
    display: none;
}

#menu:checked ~ .header__menu {
    display: block;
}

.header__menu {
    display: none;
    position: absolute;
    top: 74px;
    right: 0;
    border: 1px solid black;
    z-index: 33;
    background: #fff;
}

.menu__list {
    padding: 37px 73px 157px 33px;
    width: 126px;

    &:first-child {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
    }
}

.menu__list-item {
    list-style: none;
    margin-top: 20px;

    & a {
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu__sublist-item {
    list-style: none;
    margin-top: 11px;

    & a {
        margin-left: 20px;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
}
