@media (max-width: 1095px) {
    .header__box {
        padding: 18px 32px;
        box-sizing: border-box;
    }

    .intro__photo {
        background-position: center;
    }

    .merch {
        box-sizing: border-box;
        padding: 0 16px;

        &__top {
            margin-bottom: 0;
        }

        &__item {
            margin: 0 8px;
        }
    }

    .content__box {
        justify-content: center;
    }

    .content__item {
        margin: 15px;
    }

    .footer__box {
        padding: 0 32px;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .intro {
        min-height: 368px;

        &__photo {
            background-size: cover;
        }

        &__box {
            margin: 134px 0 0 67px;

            & h3 {
                font-size: 44px;
                line-height: 53px;
            }

            & h4 {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    .merch {
        margin-top: 0;
    }

    .feature__box {
        flex-direction: column;
        align-items: center;
        padding: 0 0 64px 0;
    }

    .feature__item {
        margin-top: 48px;
    }

    .subscribe__box {
        flex-direction: column;
        align-items: center;
        padding: 54px 0 140px 0;
    }

    .subscribe__left {
        padding: 0;
    }

    .subscribe__right {
        margin-top: 48px;
    }
}

@media (max-width: 544px) {
    .header__box {
        padding: 18px 16px;
    }

    .header__left a {
        margin-right: 20px;
    }

    .header__search input {
        width: 100px;
    }

    .regist__link {
        display: none;
    }

    .menu__list {
        padding-bottom: 40px;
    }

    .cart__btn {
        display: none;
    }

    .intro {
        justify-content: center;
        align-items: center;

        &__photo {
            display: none;
        }

        &__box {
            margin: 0;

            & h3 {
                font-size: 33px;
            }

            &::before {
                width: 8px;
                height: 76px;
                top: 8px;
                left: -18px;
            }
        }
    }

    .merch {
        margin: 64px auto 0;

        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin: 8px 0;
        }

        .merch__bot {
            margin-top: 16px;
            min-height: 100px;
            background-size: cover;
        }
    }

    .footer__box {
        flex-direction: column;
        align-items: center;
        padding: 43px 0 9px;

        & p {
            order: 2;
            margin-top: 40px;
        }
    }
}