* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@import "../scss/header";

@import "../scss/intro";

@import "../scss/merch";

@import "../scss/content";

@import "../scss/feature";

@import "../scss/subscribe";

@import "../scss/footer";

@import "../scss/arrival";

@import "../scss/filter";

@import "../scss/page-list";

@import "../scss/women";

@import "../scss/cart";

@import "../scss/registration";

@import "../scss/mediaCart";

@import "../scss/mediaRegistration";

@import "../scss/mediaIndex";

@import "../scss/mediaCatalog";

@import "../scss/mediaProduct";
